:root{
    font-family: 'Raleway', sans-serif;
    --darkest: #222831;
    --dark: #393E46;
    --lighter: #00ADB5;
    --lightest: #EEEEEE;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: var(--dark);
}

#root{
    height: 100%;
    width: 100%;
}

