#header{
    height: 10vh;
    width: 100%;
    background-color: rgba(34, 40, 49, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#header-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: 'Raleway';
}