:root{
    --darkest: #222831;
    --dark: #393E46;
    --lighter: #00ADB5;
    --lightest: #EEEEEE;
    font-family: 'Raleway';
}

.main-container{
    column-gap: 100px;
    row-gap: 100px;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 800px));
    place-content: center;
    height: 80vh;
}

.form{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    min-height: auto;
    height: 100%;
    overflow: auto;
    background-color: var(--dark);
    padding-top: 25px;
    padding-bottom: 25px;
}

.subtitle{
    color: var(--lighter);
    font-weight: 600;
    font-size: x-large;
    margin-top: 25px;
}

.form, .edu-form, .exp-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    align-items: center;
}

input{
    height: 1.20rem;
    width: 85%;
    font-size: .9rem;
    border-radius: 10px;
    border: none;
    padding: 7px;
    background-color: var(--darkest);
    font-family: 'Raleway';
    color: var(--lightest);
}

button{
    width: 50%;
    height: 1.5rem;
    border-radius: 10px;
    font-size: .95rem;
    border: none;
    padding: 20px;
    background-color: var(--darkest);
    color: var(--lightest);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway';
    font-weight: 500;
}

#example-button{
    margin-top: 50px;
    background-color: #C400C6;
}

#example-button:hover{
    color: var(--lightest);
    background-color: #7a06af;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 4px;
}

#reset-button{
    background-color: #FF0000;
}

#reset-button:hover{
    color: var(--lightest);
    background-color: #950101;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 4px;
}

#print-button{
    background-color: #4E9F3D;
}

#print-button:hover{
    color: var(--lightest);
    background-color: #227533;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 4px;
}

button:hover{
    cursor: pointer;
    background-color: var(--lighter);
    color: var(--dark);
}