.cv-container{
    border: 2px solid blue;
    padding: 10px;
}

.subtitle{
    font-weight: 600;
}

.divider{
    height: 2px;
    width: 100%;
    background-color: gray;
    margin-top: 5px;
    margin-bottom: 5px;
}

.name{
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 2rem;
    font-weight: 600;
}

.contact-details{
    display: flex;
    justify-content: center;
    gap: 10px;
}

#description{
    font-style: italic;
}