.cv-container{
    padding-left: 25px;
    padding-right: 25px;
    height: clamp(800px, 900px, 100%);
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

.cv-container > *{
    margin-top: 10px;
    margin-bottom: 10px;
}

.subtitle{
    font-weight: 600;
}

.divider{
    height: 2px;
    width: 100%;
    background-color: gray;
    margin-top: 5px;
    margin-bottom: 5px;
}

.name{
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 2rem;
    font-weight: 600;
}

.contact-details{
    display: flex;
    justify-content: center;
    gap: 10px;
}

#description{
    font-style: italic;
    word-wrap: break-word;
}

.edu-container, .exp-container{
    display: flex;
    gap: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.from-to, .uniname-city, .position{
    font-weight: 600;
}

.edu-details, .exp-details{
    display: flex;
    flex-direction: column;
}