:root{
    --darkest: #222831;
    --dark: #393E46;
    --lighter: #00ADB5;
    --lightest: #EEEEEE;
    font-family: 'Poppins';
}

.cv-container{
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 25px;
    padding-right: 25px;
    height: 100%;
    width: 700px;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    background-color: var(--lightest);
}

.cv-container > *{
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--darkest);
}

.cv-subtitle{
    font-weight: 600;
    font-size: 1.25rem;
    background-color: rgb(204, 204, 204);
    margin-top: 20px;
}

.divider{
    height: 2px;
    width: 100%;
    background-color: var(--dark);
    margin-top: 5px;
    margin-bottom: 5px;
}

.name{
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 2rem;
    font-weight: 600;
}

.contact-details{
    display: flex;
    justify-content: center;
    gap: 25px;
}

.contact-details > *{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#description{
    font-style: italic;
    word-wrap: break-word;
    margin-bottom: 20px;
}

.edu-container, .exp-container{
    display: flex;
    gap: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.from-to, .uniname-city, .position{
    font-weight: 600;
}

.from-to{
    width: 140px;
}

.edu-details, .exp-details{
    display: flex;
    flex-direction: column;
}